.football {
    margin-bottom: 20px;
    background-image: url('/images/football.png');
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}

.cooking {
    margin-bottom: 20px;
    background-image: url('/images/cooking.png');
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}

.coding {
    margin-bottom: 20px;
    background-image: url('/images/coding.png');
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}

.vertical-center {
  min-height: 40%;
  min-height: 40vh;

  display: flex;
  align-items: center;
}

h2 {
    color: #fff;
}